@import "bootstrap";
@import "narayan/base";

body{
	padding-top : 1.5rem;
	background-color: #252830;
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

nav {
	@include make-col();

	@media (max-width: 32em) {
		@include make-col-span(12);
	}
	@media (min-width: 32.1em) {
		@include make-col-span(2);
	}
	.nav-pills .nav-link{
		color: #CFD2DA;
		&:hover,
		&:focus{
			color: #FFF;
			background-color: #434857;
		}
		&.active,
		&.active:hover,
		&.active:focus{
			cursor: pointer;
			color: #252830;
			background-color: #1CA8DD;
		}
	}
}

#dbTables{
	background-color: #191B21;
	&>ul>li>a.active{
		cursor: default;
		background-color: #131418;
		color: #898E9E;
	}
}

main {
	@include make-col();

	@media (max-width: 32em) {
		@include make-col-span(12);
	}
	@media (min-width: 32.1em) {
		@include make-col-span(10);
	}
	table.table.table-striped.table-hover{
		tbody tr{
			transition: background 0.2s ease;
			&:nth-of-type(2n+1) {
				background-color: rgba(39, 42, 53, 0.53);
			}
			&:hover{
				background-color: #2E323E;
			}
			td{
				border: 1px solid #434857;
				color: #CFD2DA;
			}
		}

		thead tr{
			background-color: #181B21;
			th{
				color: white;
				border: 1px solid #434857;
			}
		}
	}
	.pagination {
		> li > a {
			background-color: transparent;
			border : 1px solid #434857;
			color: #ABABAB;
			transition: all 0.1s ease;
			&:hover,
			&:focus{
				color: #FFF;
				background-color: #2E323E;
				border : 1px solid #434857;
			}
		}
		> .active a,
		> .active a:hover,
		> .active a:focus {
			color: #FFF;
			background-color: #2E323E;
			border : 1px solid #434857;
		}
	}
}


